$(function() {
	var $chatBox = $('#messages');
	var $requestScreen = $('.request_screen');
	<% @other_user = @conversation.get_other_user(current_user) %>
	// if user clicked is not a pending friend

	$('.chat-sidebar').remove();
	<% @pending = current_user.pending_friends.include? @other_user %>
	<% if !@pending %>
		$requestScreen.remove();
		console.log('not pending friend');
		if ( $chatBox.length == 0 ) {
			$('.pre-chat').remove();
			console.log('append');
		} else {
			$('.chat').remove();
			console.log('removed chat');
		}

		$('#chat').append('<%= j render("chat") %>');
		$('.chat-sidebar').remove();

		var $chatSidebar =  $('<div class="col-md-3 chat-sidebar"></div>');
		$chatSidebar.appendTo($('.row'));
		$chatSidebar.append('<%= j render("chat_sidebar", conversation: @conversation) %>');

		// Refresh the friend sidebar to update conv-ids of new conversations
		$('.friend-sidebar').remove(); 
		$('.friend-list').append('<%= j render("/conversations/friend_list") %>');
	<% else %>
		$('.chat').remove();
		$('#chat').append('<%= j render("chat") %>');
		console.log('pending friend');	
	<% end %>

	// add active class to current conversation
	$('.active-conversation').removeClass('active-conversation');
	$(".status-text[data-conv-id='<%=@conversation.id.to_s%>'").parent().parent().addClass("active-conversation");

	// update conversation id meta tag
	$('meta[name=conv-id]').attr("content", '<%= @conversation.id.to_s %>');

	// re-initialize scroll bar
	$('#messages').mCustomScrollbar({
	    theme:"minimal-dark",
	    advanced:{ 
	    	updateOnContentResize: true,
	    	updateOnSelectorChange: "div" 
	    }
	});

	$('#messages').mCustomScrollbar("scrollTo", 'bottom', {
		scrollInertia: 0
	});

	// Recommend button tutorial
	$(".recommend-button").tooltip({
      container: 'body',
      html: true,
      trigger: 'hover',
      template: '<div class="tooltip dropdown-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',
      title: 'If you believe your Chat Buddy would benefit more by speaking to a Peer Counselor, make a recommendation.',
      placement: 'left'
  	});

	// Download Chat tutorial
	$(".download-chat").tooltip({
      container: 'body',
      html: true,
      trigger: 'hover',
      template: '<div class="tooltip dropdown-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',
      title: 'Your chat will be deleted every seven days to protect your privacy, so you have the option to save the current week’s chat.',
      placement: 'left'
  	});

  	// Mute Button tutorial
  	$(".mute").tooltip({
      container: 'body',
      html: true,
      trigger: 'hover',
      template: '<div class="tooltip dropdown-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',
      title: 'You can Mute and Unmute a user whenever you want. You won’t be able to contact each other if they are muted.',
      placement: 'left'
  	});

  	$(".mute").on('click', function() {
  		$(this).tooltip('hide')
  	})

  	// Block tutorial
  	$(".block-button").tooltip({
      container: 'body',
      html: true,
      trigger: 'hover',
      template: '<div class="tooltip dropdown-tooltip" id="block-button-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',
      title: 'If this person deserves to be deleted off SafeSpace permanently for inappropriate or hurtful language, BLOCK them.',
      placement: 'left'
  	});
});

