<div class="char-section">
	<h5><strong>Basic Information</strong></h5>
	<div class="filter-box-scroll custom-scroll">
	    <div class="collection-check-box">
			<%= f.check_box :is_first_generation_college_student %>
			<%= f.label "First generation college student", :class => "char-option" %><br>
		</div>
		<div class="collection-check-box">
			<%= f.check_box :is_physically_disabled %>
			<%= f.label "Physically disabled", :class => "char-option" %><br>
		</div>
		<div class="collection-check-box">
			<%= f.check_box :is_parent %>
			<%= f.label "Parent", :class => "char-option" %><br>
		</div>
		<div class="collection-check-box">
			<%= f.check_box :is_single_parent %>
			<%= f.label "Single Parent", :class => "char-option" %><br>
		</div>
		<div class="collection-check-box">
			<%= f.check_box :is_from_foster_care %>
			<%= f.label "From foster care", :class => "char-option" %><br>
		</div>
		<div class="collection-check-box">
			<%= f.check_box :is_intercollegiate_athlete %>
			<%= f.label "Intercollegiate athlete", :class => "char-option" %><br>
		</div>
		<div class="collection-check-box">
			<%= f.check_box :is_military %>
			<%= f.label "Military", :class => "char-option" %><br>
		</div>
		<div class="collection-check-box">
			<%= f.check_box :is_out_of_state_student %>
			<%= f.label "Out of state student", :class => "char-option" %><br>
		</div>
		<div class="collection-check-box">
			<%= f.check_box :is_international_student %>
			<%= f.label "International Student", :class => "char-option" %><br>
		</div>
		<div class="collection-check-box">
			<%= f.check_box :is_transfer_student %>
			<%= f.label "Transfer student", :class => "char-option" %><br>
		</div>
	</div>
</div>