<div class="char-section">
  <h5>
  	<strong><%= name %></strong>
  	<div class="pref-dropdown">
  		<%= fields_for :preferences do |p| %>
  		  	<%= p.select :"#{category}", ['0', '1', '2', '3', '4'] %>
  		<% end %>
  	</div>
  </h5>

  <div class="filter-box-scroll custom-scroll">
    <%= f.collection_check_boxes :characteristics_id_in_any, Characteristic.where('category = ?', "#{category}"), :id, :name do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label :class => "char-option" %>
      </div>
    <% end %>
  </div>
</div>