<%= render "profiles/show_characteristic", name: name, title: title %>

<p class="char-option" style="padding-left: 0.5vw; margin-bottom: 0px"><a data-toggle="collapse" href="#<%= id %>" aria-expanded="false" aria-controls="<%= id %>">
  Edit <%= title %>
</a></p>

<div class="collapse" id="<%= id %>">
  <div class="card card-block">
    <div class="check-box-scroll">
      <%= f.collection_check_boxes :characteristic_ids, Characteristic.where('category = ?', name), :id, :name do |b| %>
        <div class="collection-check-box check-box-container">
          <%= b.check_box %>
          <%= b.label :class => "char-option char-field-title" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
