<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render '/profiles/new_vars' %>

  <div class="row">
    <div class="col-md-4 col-sm-offset-2">
      <div class="char-edit">
        <div><%= f.label :class_rank, :class => "char-field-title" %></div>
        <%= f.select :class_rank, @arr_class_rank , class: "form-control col-md-6 "%>
      </div>
      <div class="char-edit">
        <%= f.label :socioeconomic_status, :class => "char-field-title" %><br>
        <%= f.select :socioeconomic_status, @arr_socioeconomic_status , class: "form-control col-md-6 "%>
      </div>
      <div class="char-edit">
        <%= f.label :living_situation, :class => "char-field-title" %><br>
        <%= f.select :living_situation, @arr_living_situation , class: "form-control col-md-6 "%>
      </div>
      <div class="char-edit">
        <%= f.label :sexual_orientation, :class => "char-field-title" %><br>
        <%= f.select :sexual_orientation , @arr_sexual_orientation , class: "form-control col-md-6 "%>
      </div>
      <div class="char-edit">
        <%= f.label :comfort_with_sexuality, :class => "char-field-title" %><br>
        <%= f.select :comfort_with_sexuality , @arr_comfort_with_sexuality, class: "form-control col-md-6 "%>
      </div>
      <div class="char-edit">
        <%= f.label :age, :class => "char-field-title" %><br>
        <%= f.number_field :age %>
      </div> 
    </div>

    <div class="col-md-4 col-sm-offset-1">
      <h5><strong>Basic Information</strong></h5>
      <div class="check-box-container">
        <%= f.check_box :is_first_generation_college_student %>
        <%= f.label "First generation college student", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_physically_disabled %>
        <%= f.label "Physically disabled", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_parent %>
        <%= f.label "Parent", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_single_parent %>
        <%= f.label "Single Parent", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_from_foster_care %>
        <%= f.label "From foster care", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_intercollegiate_athlete %>
        <%= f.label "Intercollegiate athlete", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_military %>
        <%= f.label "Military", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_out_of_state_student %>
        <%= f.label "Out of state student", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_international_student %>
        <%= f.label "International Student", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_transfer_student %>
        <%= f.label "Transfer student", :class => "char-option" %><br>
      </div>
    </div>
  </div>

  <div class="row">  
    <div class="char-section col-md-4">
      <h5><strong>Mental Health Disorder</strong></h5>
      <div class="check-box-scroll">
        <%= f.collection_check_boxes :characteristic_ids, Characteristic.where('category = ?', "mental_health"), :id, :name do |b| %>
          <div class="collection-check-box check-box-container">
            <%= b.check_box %>
            <%= b.label :class => "char-option" %>
          </div>
        <% end %></div>
    </div>
    <div class="char-section col-md-4">
      <h5><strong>Gender</strong></h5>
      <div class="check-box-scroll">
        <%= f.collection_check_boxes :characteristic_ids, Characteristic.where('category = ?', "gender"), :id, :name do |b| %>
          <div class="collection-check-box check-box-container">
            <%= b.check_box %>
            <%= b.label :class => "char-option" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="char-section col-md-4">
      <h5><strong>Ethnicity</strong></h5>
      <div class="check-box-scroll">
        <%= f.collection_check_boxes :characteristic_ids, Characteristic.where('category = ?', "ethnicity"), :id, :name do |b| %>
          <div class="collection-check-box check-box-container">
            <%= b.check_box %>
            <%= b.label :class => "char-option" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="char-section col-md-4">
      <h5><strong>Academic Focus</strong></h5>
      <div class="check-box-scroll">
        <%= f.collection_check_boxes :characteristic_ids, Characteristic.where('category = ?', "academic_focus"), :id, :name do |b| %>
          <div class="collection-check-box check-box-container">
            <%= b.check_box %>
            <%= b.label :class => "char-option" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="char-section col-md-4">
      <h5><strong>Religion</strong></h5>
      <div class="check-box-scroll">
        <%= f.collection_check_boxes :characteristic_ids, Characteristic.where('category = ?', "religion"), :id, :name do |b| %>
          <div class="collection-check-box check-box-container">
            <%= b.check_box %>
            <%= b.label :class => "char-option" %>
          </div>
        <% end %>
      </div>
    </div>
  
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="actions">
      <%= f.submit "Update", class: 'btn btn-primary' %>
      <%= link_to 'Profile', @profile , class: 'btn btn-default' %>
    </div>
  <% end %>
</div>


  