<%= form_for @profile do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= render '/profiles/new_vars' %>

  <div class="row">
    <div class="col-md-4 col-sm-offset-2">
      <div class="char-edit">
        <%= f.label :age, :class => "char-field-title" %><br>
        <%= f.number_field :age, class: "form-control age-field" %>
      </div>
      <div class="char-edit">
        <div><%= f.label :class_rank, :class => "char-field-title" %></div>
        <%= f.select :class_rank, @arr_class_rank , {}, { :class => 'btn btn-default dropdown-toggle' } %>
      </div>
      <div class="char-edit">
        <%= f.label :socioeconomic_status, :class => "char-field-title" %><br>
        <%= f.select :socioeconomic_status, @arr_socioeconomic_status , {}, { :class => 'btn btn-default dropdown-toggle' } %>
      </div>
      <div class="char-edit">
        <%= f.label :living_situation, :class => "char-field-title" %><br>
        <%= f.select :living_situation, @arr_living_situation , {}, { :class => 'btn btn-default dropdown-toggle' } %>
      </div>
      <div class="char-edit">
        <%= f.label :sexual_orientation, :class => "char-field-title" %><br>
        <%= f.select :sexual_orientation , @arr_sexual_orientation , {}, { :class => 'btn btn-default dropdown-toggle' } %>
      </div>
      <div class="char-edit">
        <%= f.label :comfort_with_sexuality, :class => "char-field-title" %><br>
        <%= f.select :comfort_with_sexuality , @arr_comfort_with_sexuality, {}, { :class => 'btn btn-default dropdown-toggle' } %>
      </div> 
    </div>

    <div class="col-md-4 col-sm-offset-1">
      <h5><strong>Basic Information</strong></h5>
      <div class="check-box-container">
        <%= f.check_box :is_first_generation_college_student %>
        <%= f.label "First generation college student", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_physically_disabled %>
        <%= f.label "Physically disabled", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_parent %>
        <%= f.label "Parent", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_single_parent %>
        <%= f.label "Single Parent", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_from_foster_care %>
        <%= f.label "From foster care", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_intercollegiate_athlete %>
        <%= f.label "Intercollegiate athlete", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_military %>
        <%= f.label "Military", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_out_of_state_student %>
        <%= f.label "Out of state student", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_international_student %>
        <%= f.label "International Student", :class => "char-option" %><br>
      </div>
      <div class="check-box-container">
        <%= f.check_box :is_transfer_student %>
        <%= f.label "Transfer student", :class => "char-option" %><br>
      </div>
      <br>
      <div class="actions">
      <%= f.submit "Update", class: 'btn btn-primary' %>
      <%= link_to 'Profile', @profile , class: 'btn btn-default' %>
      </div>
    </div>
  </div>
  
  <br>
  <h4 align="center"><strong>Your Characteristics</strong></h4>
  <br>

  <div class="row">
    <div class="col-md-4 col-sm-offset-2">
      <%= render 'profiles/edit_characteristic', title: "Mental Health", name: "mental_health", f: f, id: "edit-mental-health" %>
    </div>
    
    <div class="col-md-4 col-sm-offset-1">
      <%= render 'profiles/edit_characteristic', title: "Gender", name: "gender", f: f, id: "edit-gender" %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4 col-sm-offset-2">
      <%= render 'profiles/edit_characteristic', title: "Ethnicity", name: "ethnicity", f: f, id: "edit-ethnicity" %>
    </div>

    <div class="col-md-4 col-sm-offset-1">
      <%= render 'profiles/edit_characteristic', title: "Academic Focus", name: "academic_focus", f: f, id: "edit-academic-focus" %>
    </div>
  </div>
<% end %>


  