<fieldset class="search-field">
  <%= search_form_for @search, remote: true do |f| %>
    <!-- <div class="field">
      <%= f.label :class_rank_cont, "Class Rank contains" %>
      <%= f.text_field :class_rank_cont %>
    </div> -->

    <div class="char-section">
      <h5 class="button-header"><strong>Mental Health</strong></h5>
      <div class="actions filter-button"><%= f.submit "Search", class: 'btn btn-primary' %></div>
      <div class="filter-box-scroll">
        <%= f.collection_check_boxes :characteristics_id_in_any, Characteristic.where('id > 0').limit(10), :id, :name do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label :class => "char-option" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="char-section">
      <h5><strong>Gender</strong></h5>
      <div class="filter-box-scroll">
        <%= f.collection_check_boxes :characteristics_id_in_any, Characteristic.where('id > 10').limit(8), :id, :name do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label :class => "char-option" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="char-section">
      <h5><strong>Ethnicity</strong></h5>
      <div class="filter-box-scroll">
        <%= f.collection_check_boxes :characteristics_id_in_any, Characteristic.where('id > 17').limit(16), :id, :name do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label :class => "char-option" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="char-section">
      <h5><strong>Academic Focus</strong></h5>
      <div class="filter-box-scroll">
        <%= f.collection_check_boxes :characteristics_id_in_any, Characteristic.where('id > 33').limit(16), :id, :name do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label :class => "char-option" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="char-section">
      <h5><strong>Religion</strong></h5>
      <div class="filter-box-scroll">
        <%= f.collection_check_boxes :characteristics_id_in_any, Characteristic.where('id > 49').limit(13), :id, :name do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label :class => "char-option" %>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
</fieldset>