<fieldset class="search-field">
  <%= search_form_for @search, remote: true, url: search_profiles_path, html: { method: :post } do |f| %>
    <div class="filter-button">
      <%= button_tag "Clear", type: :reset, class: 'btn btn-default' %>
      <%= f.submit "Save Filters", class: 'btn btn-primary' %>
    </div>

    <div class="search-scroll custom-scroll">

        <%= render '/profiles/basic_info_section', f: f %>
        <%= render '/profiles/char_section', name: "Mental Health", category: "mental_health", f: f %>
    
        <div class="char-section">
          <h5 class="button-header">
            <strong>Age range: <input type="text" id="age-range" readonly style="border:0; font-weight:bold;"></strong>
          </h5><br><br>
          <div id="slider-range"></div>
        </div>
    
        <%= render '/profiles/char_section', name: "Gender", category: "gender", f: f %>
        <%= render '/profiles/char_section', name: "Ethnicity", category: "ethnicity", f: f %>
        <%= render '/profiles/char_section', name: "Academic", category: "academic_focus", f: f %>
        <%= render '/profiles/char_section', name: "Religion", category: "religion", f: f %>

        <div style="">
          <%= f.sort_fields do |s| %>
            <%= s.sort_select %>
          <% end %>
          <%= f.check_box :online_or_all_profiles %>
          <%= f.search_field :age_gteq %>
          <%= f.search_field :age_lteq %>
        </div>

      </div>
  <% end %>
</fieldset>
