<!-- <p id="notice"><%= notice %></p> -->

<h3 class="profile-header"><%= @profile.name %>'s Profile</h3>

<div style="margin-top: 15px; margin-bottom: 20px">
  <div class="row">
    <div class="col-md-4 col-sm-offset-2">
      <div class="char-box">
        <h4><strong>Characteristics</strong></h4>
        <%= render 'profiles/show_characteristic', name: "mental_health", title: "Mental Health" %>
        <%= render 'profiles/show_characteristic', name: "gender", title: "Gender" %>
        <%= render 'profiles/show_characteristic', name: "ethnicity", title: "Ethnicity" %>
        <%= render 'profiles/show_characteristic', name: "academic_focus", title: "Academic Focus" %>
      </div>

      <div class="edit-profile-btn">
        <%= link_to "Edit Profile", edit_profile_path(current_user.id), class: 'btn btn-default' %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="profile-box">
        <h4><strong>Basic Information</strong></h4>
        <div class="basic-info char-option">
          <p class="char-edit">
            <div class="category"><strong>Class Rank:</strong></div>
            <div class="answer"><%= @profile.class_rank %></div>
          </p>
          
          <p class="char-edit">
            <div class="category"><strong>Socioeconomic Status:</strong></div>
            <div class="answer"><%= @profile.socioeconomic_status %></div>
          </p>
          
          <p class="char-edit">
            <div class="category"><strong>Living Situation:</strong></div>
            <div class="answer"><%= @profile.living_situation %></div>
          </p>
          
          <p class="char-edit">
            <div class="category"><strong>Age:</strong></div>
            <div class="answer"><%= @profile.age %></div>
          </p>
          
          <p class="char-edit">
            <div class="category"><strong>First Generation College Student:</strong></div>
            <div class="answer"><%= @profile.is_first_generation_college_student %></div>
          </p>
          
          <p class="char-edit">
            <div class="category"><strong>Physically Disabled:</strong></div>
            <div class="answer"><%= @profile.is_physically_disabled %></div>
          </p>
          
          <p class="char-edit">
            <div class="category"><strong>Parent:</strong></div>
            <div class="answer"><%= @profile.is_parent %></div>
          </p>
          
          <p class="char-edit">
            <div class="category"><strong>Single Parent:</strong></div>
            <div class="answer"><%= @profile.is_single_parent %></div>
          </p>
          
          <p class="char-edit">
            <div class="category"><strong>From Foster Care:</strong></div>
            <div class="answer"><%= @profile.is_from_foster_care %></div>
          </p>
          
          <p class="char-edit">
            <div class="category"><strong>Intercollegiate Athlete:</strong></div>
            <div class="answer"><%= @profile.is_intercollegiate_athlete %></div>
          </p>
          
          <p class="char-edit">
            <div class="category"><strong>Military:</strong></div>
            <div class="answer"><%= @profile.is_military %></div>
          </p>
          
          <p class="char-edit">
            <div class="category"><strong>Out Of State Student:</strong></div>
            <div class="answer"><%= @profile.is_out_of_state_student %></div>
          </p>
        
          <p class="char-edit">
            <div class="category"><strong>International Student:</strong></div>
            <div class="answer"><%= @profile.is_international_student %></div>
          </p>
          
          <p class="char-edit">
            <div class="category"><strong>Transfer student:</strong></div>
            <div class="answer"><%= @profile.is_transfer_student %></div>
          </p>
        </div>
      </div>
    </div>

  </div>


</div>