<!-- <p id="notice"><%= notice %></p> -->

<h3 class="profile-header"><%= @profile.name %>'s Profile</h3><br>
<div class="edit-profile-btn" align="center">
        <% if current_user.id == @profile.user.id %>
          <%= link_to "Edit Profile", edit_profile_path(current_user.id), class: 'btn btn-default btn-lg' %>
        <% elsif current_user.showcase %>
          <%= link_to "Reset Profile", showcase_reset_profile_path(current_user.profile.id), method: :put, class: 'btn btn-danger' %>
        <% end %>
      </div>

<div class="profile-container">
  <div class="row">
    <div class="col-md-4 col-sm-offset-2">
      <div class="char-box">
        <h4><strong>Characteristics</strong></h4>
        <%= render 'profiles/show_partials/show_characteristic', name: "mental_health", title: "Mental Health" %>
        <%= render 'profiles/show_partials/show_characteristic', name: "gender", title: "Gender" %>
        <%= render 'profiles/show_partials/show_characteristic', name: "ethnicity", title: "Ethnicity" %>
        <%= render 'profiles/show_partials/show_characteristic', name: "academic_focus", title: "Major" %>

      </div>

    </div>

    <div class="col-md-4">
      <div class="profile-box">
        <h4><strong>Information</strong></h4>
        <div class="basic-info char-option">
          <%= render "profiles/show_partials/char_answer", title: "Class Rank", answer: @profile.format_answer(:class_rank) %>
          <%= render "profiles/show_partials/char_answer", title: "Socioeconomic Status", answer: @profile.format_answer(:socioeconomic_status) %>
          <%= render "profiles/show_partials/char_answer", title: "Living Situation", answer: @profile.format_answer(:living_situation) %>
          <%= render "profiles/show_partials/char_answer", title: "Age", answer: @profile.format_answer(:age) %>

          <%= render "profiles/show_partials/char_answer", title: "First Generation College Student", answer: @profile.format_answer(:is_first_generation_college_student) %>
          <%= render "profiles/show_partials/char_answer", title: "Physically Disabled", answer: @profile.format_answer(:is_physically_disabled) %>
          <%= render "profiles/show_partials/char_answer", title: "Parent", answer: @profile.format_answer(:is_single_parent) %>
          <%= render "profiles/show_partials/char_answer", title: "Single Parent", answer: @profile.format_answer(:is_single_parent) %>
          <%= render "profiles/show_partials/char_answer", title: "From Foster Care", answer: @profile.format_answer(:is_from_foster_care) %>
          <%= render "profiles/show_partials/char_answer", title: "Intercollegiate Athlete", answer: @profile.format_answer(:is_intercollegiate_athlete) %>
          <%= render "profiles/show_partials/char_answer", title: "Military", answer: @profile.format_answer(:is_military) %>
          <%= render "profiles/show_partials/char_answer", title: "Out of State Student", answer: @profile.format_answer(:is_out_of_state_student) %>
          <%= render "profiles/show_partials/char_answer", title: "International Student", answer: @profile.format_answer(:is_international_student) %>
          <%= render "profiles/show_partials/char_answer", title: "Transfer Student", answer: @profile.format_answer(:is_transfer_student) %>
        </div>
      </div>
    </div>

  </div>


</div>