<div align="center">
	<h2>Edit Content</h2>
</div>

<div class="edit-content-container">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#about">About</a></li>
		<li><a data-toggle="tab" href="#contact">Contact</a></li>
		<li><a data-toggle="tab" href="#terms-of-service">Terms of Service</a></li>
		<li><a data-toggle="tab" href="#slide-one">Slide 1</a></li>
		<li><a data-toggle="tab" href="#slide-two">Slide 2</a></li>
		<li><a data-toggle="tab" href="#slide-three">Slide 3</a></li>
		<li><a data-toggle="tab" href="#slide-four">Slide 4</a></li> 
	</ul>

	<div class="tab-content">
		<div id="about" class="tab-pane fade in active">
			<%= render "edit_tab", body: @content.as_html("about"), tag: "about", name: :about %>
		</div>

		<div id="contact" class="tab-pane fade">
			<%= render "edit_tab", body: @content.as_html("contact"), tag: "contact", name: :contact %>
		</div>

		<div id="terms-of-service" class="tab-pane fade">
			<%= render "edit_tab", body: @content.as_html("terms_of_service"), tag: "terms-of-service", name: :terms_of_service %>
		</div>

		<div id="slide-one" class="tab-pane fade">
		    <%= render "edit_tab", body: @content.as_html("slide_one"), tag: "slide-one", name: :slide_one %>
		</div>

		<div id="slide-two" class="tab-pane fade">
			<%= render "edit_tab", body: @content.as_html("slide_two"), tag: "slide-two", name: :slide_two %>
		</div>

		<div id="slide-three" class="tab-pane fade">
			<%= render "edit_tab", body: @content.as_html("slide_three"), tag: "slide-three", name: :slide_three %>
		</div>

		<div id="slide-four" class="tab-pane fade">
			<%= render "edit_tab", body: @content.as_html("slide_four"), tag: "slide-four", name: :slide_four %>
		</div>
	</div>
</div>