<%= devise_error_messages! %>
<div class="border-form-div">
	<h2>Resend confirmation instructions</h2>

	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
	  </div>

	  <div class="submit-button actions">
	    <%= f.submit "Resend confirmation instructions", class: 'btn btn-default btn-block' %>
	  </div>
	<% end %>

	<div class="links"><%= render "devise/shared/links" %></div>
</div>
