<p id="notice"><%= notice %></p>

<h1>Listing Characteristics</h1>

<%= link_to 'New Characteristic', new_characteristic_path %>

<div class="container">
  <h3>Mental Health</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% Characteristic.where('category = ?', "mental_health").each do |characteristic| %>
        <tr>
          <td><%= characteristic.name %></td>
          <td><%= link_to 'Show', characteristic %></td>
          <td><%= link_to 'Edit', edit_characteristic_path(characteristic) %></td>
          <td><%= link_to 'Destroy', characteristic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <h3>Gender</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% Characteristic.where('category = ?', "gender").each do |characteristic| %>
        <tr>
          <td><%= characteristic.name %></td>
          <td><%= link_to 'Show', characteristic %></td>
          <td><%= link_to 'Edit', edit_characteristic_path(characteristic) %></td>
          <td><%= link_to 'Destroy', characteristic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <h3>Ethnicity</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% Characteristic.where('category = ?', "ethnicity").each do |characteristic| %>
        <tr>
          <td><%= characteristic.name %></td>
          <td><%= link_to 'Show', characteristic %></td>
          <td><%= link_to 'Edit', edit_characteristic_path(characteristic) %></td>
          <td><%= link_to 'Destroy', characteristic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <h3>Academic Focus</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% Characteristic.where('category = ?', "academic_focus").each do |characteristic| %>
        <tr>
          <td><%= characteristic.name %></td>
          <td><%= link_to 'Show', characteristic %></td>
          <td><%= link_to 'Edit', edit_characteristic_path(characteristic) %></td>
          <td><%= link_to 'Destroy', characteristic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <h3>Religion</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% Characteristic.where('category = ?', "religion").each do |characteristic| %>
        <tr>
          <td><%= characteristic.name %></td>
          <td><%= link_to 'Show', characteristic %></td>
          <td><%= link_to 'Edit', edit_characteristic_path(characteristic) %></td>
          <td><%= link_to 'Destroy', characteristic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Characteristic', new_characteristic_path %>
