<!-- Modal -->
<% @recommendation = Recommendation.new %>

<div class="modal fade" id="recommendModal" tabindex="-1" role="dialog" aria-labelledby="recommendModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<%= form_for @recommendation, url: {controller: "recommendations", action: "create"}, remote: true do |f| %>
			  	<div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				    <h3 class="modal-title" id="recommend-modal-title">Recommend to Peer Counselor</h3>
			  	</div>

				<div class="modal-body">
				    
					<h4 style="margin-bottom: 3vh;">Why are you recommending this user?</h4>

					<div class="form-group form-radio">
						<%= f.radio_button(:reason, "Too dependent on me") %>
						<%= f.label(:reason_dependent, "Too dependent on me") %>
					</div>

					<div class="form-group form-radio">
						<%= f.radio_button(:reason, "Don’t know how to help them") %>
						<%= f.label(:reason_advice, "Don’t know how to help them") %>
					</div>

					<div class="form-group form-radio">
						<%= f.radio_button(:reason, "Other") %>
						<%= label_tag(:reason_other, "Other") %>
					</div>

					<%= f.label :additional_info, "Additional Information (300 characters) " %>
					<%= f.text_area :additional_info, rows:"4", maxlength: "300", :class => "form-control" %>

					<%= f.hidden_field :user_id, value: other_user_id %>
				</div>

			    <div class="modal-footer", data-dismiss="modal">
			        <%= f.submit "Alert Buddy I have submitted a Recommendation", id: "rec-btn", class: "btn btn-yellow btn-block" %>
			    </div>
		    <% end %>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

