<% @rec_user = recommendation.get_user %>
<tr data-rec-id="<%= recommendation.id.to_s %>">
	<td> <%= @rec_user.username %> </td>
	<td> <%= recommendation.reason %> </td>
	<td> <%= recommendation.additional_info %> </td> 
	<td> <span data-rec-id="<%= recommendation.id.to_s %>"><%= link_to "Accept Request", recommendation_path(recommendation.id), 
			method: 'put', remote: true, class: "btn btn-success btn-block start-conversation", 
			"data-sid" => current_user.id, "data-rip" => @rec_user.id %></span> 
	</td>
</tr>