<div class="friend-sidebar">
  <h3 align="center">Friends</h3>
  <div class="friend-tabs">
    <ul class="friend-nav">
      <li class="active">
        <a href="#all-friends" data-toggle="tab">All</a>
      </li>
      <li><a href="#peer-counselors" data-toggle="tab">Counselors</a></li>
      <li><a href="#online-friends" data-toggle="tab">Online</a></li>
      <%= friend_list_link('Requests', "#friend-requests") %>
      <li><a href="#pending-friends" data-toggle="tab">Pending</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane custom-scroll friend-scroll active" id="all-friends">
        <div class="ui list">
          <% @all_friends_sorted.each do |e| %>
            <% @friend = e[:friend] %>
            <div class="chat-box horizontal-align <%= "active-conversation" if @conversation && @conversation.same_convo?(current_user.id, @friend.id) %>">
              <%= render '/conversations/chat_name', user: @friend %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane custom-scroll friend-scroll" id="peer-counselors">
        <div class="ui list">
          <% User.peer_counselors.each do |counselor| %>
            <div class="chat-box horizontal-align <%= "active-conversation" if @conversation && @conversation.same_convo?(current_user.id, counselor.id) %>">
              <%= render '/conversations/chat_name', user: counselor %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane custom-scroll friend-scroll" id="online-friends">
        <div class="ui list">
          <% if current_user.online_friends.empty? %>
            <div class="chat-box status-text horizontal-align" style="margin-left: 0px">
              No friends are currently online
            </div>
          <% end %>

          <% current_user.online_friends.each do |friend| %>
            <div class="chat-box horizontal-align <%= "active-conversation" if @conversation && @conversation.same_convo?(current_user.id, friend.id) %>">
              <%= render '/conversations/chat_name', user: friend %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="tab-pane custom-scroll friend-scroll" id="friend-requests">
        <div class="ui list">
          <div>
            <% if current_user.requested_friendships.empty? %>
              <div class="chat-box status-text horizontal-align" style="margin-left: 0px">
                You have no friend requests
              </div>
            <% end %>

            <% current_user.requested_friendships.each do |request| %>
              <div class="chat-box  horizontal-align">
                <%= render 'contact_name', user: request %>
                <div class="links-container horizontal-align">
                  <%= link_to "Accept", friendship_path(:id => request), :method => "put", :class => "friend-link" %> 
                  <%= link_to "Decline", friendship_path(:id => request), :method => :delete, :class => "friend-link" %>
                </div>
              </div>
              
            <% end %>
          </div>
        </div>
      </div>

      <div class="tab-pane custom-scroll friend-scroll" id="pending-friends">
        <div class="ui list">
          <div>
            <% if current_user.pending_friends.empty? %>
              <div class="chat-box status-text horizontal-align" style="margin-left: 0px;">
                You have no pending requests
              </div>
            <% end %>

            <% current_user.pending_friends.each do |pending| %>
              <div class="chat-box horizontal-align">
                <%= render '/conversations/contact_name', user: pending %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>