<div class="row">
  <div class="ui segment col-md-2 col-sm-offset-1">
    <h3>Friends</h3>
    <div class="ui list">
      <% current_user.friends.each do |friend| %>
          <div class="item horizontal-align">
            <div class="item">
              <% if friend.online? && !friend.appear_offline %>
                <div class="horizontal-align">
                  <div class="online-status-indicator" style="display: inline-block;"></div>
                  <%= link_to friend.username, conversations_path(sender_id: current_user.id, recipient_id: friend.id), method: 'post', :class => "contact-list-name", remote: true %>
                </div>
                <div class="status-text">Online</div>
              <% else %>
                <div class="horizontal-align">
                  <div class="offline-status-indicator" style="display: inline-block;"></div>
                  <%= link_to friend.username, conversations_path(sender_id: current_user.id, recipient_id: friend.id), method: 'post', :class => "contact-list-name", remote: true %>
                </div>
                <div class="status-text">Offline</div>
              <% end %>
            </div>
    
            <div class="links-container horizontal-align">
              <%= link_to "Remove", friendship_path(:id => friend), :method => :delete, :class => "friend-link" %>
            </div>
          </div>
      <% end %>
    </div>
    
   <div class="ui list">
      <h5>Friend Requests</h5>
      <div class="item">
        <% current_user.requested_friendships.each do |request| %>
          
          <div class="item horizontal-align">
            <div class="item">
              <% if request.online? %>
                <div class="horizontal-align">
                  <div class="online-status-indicator" style="display: inline-block;"></div>
                  <%= link_to request.username, conversations_path(sender_id: current_user.id, recipient_id: request.id), method: 'post', :class => "contact-list-name" %>
                </div>
                <div class="status-text">Online</div>
              <% else %>
                <div class="horizontal-align">
                  <div class="offline-status-indicator" style="display: inline-block;"></div>
                  <%= link_to request.username, conversations_path(sender_id: current_user.id, recipient_id: request.id), method: 'post', :class => "contact-list-name" %>
                </div>
                <div class="status-text">Offline</div>
              <% end %>
            </div>
            
            <div class="links-container horizontal-align">
              <%= link_to "Accept", friendship_path(:id => request), :method => "put", :class => "friend-link" %> 
              <%= link_to "Decline", friendship_path(:id => request), :method => :delete, :class => "friend-link" %>
            </div>
          </div>
          
        <% end %>
      </div>
    </div>
    
    <div class="ui list">
      <h5>Pending Requests</h5>
      <div class="item">
        <% current_user.pending_friends.each do |pending| %>
          
          <div class="item horizontal-align">
            <div class="item">
              <% if pending.online? %>
                <div class="horizontal-align">
                  <div class="online-status-indicator" style="display: inline-block;"></div>
                  <%= link_to pending.username, conversations_path(sender_id: current_user.id, recipient_id: pending.id), method: 'post', :class => "contact-list-name", remote: true %>
                </div>
                <div class="status-text">Online</div>
              <% else %>
                <div class="horizontal-align">
                  <div class="offline-status-indicator" style="display: inline-block;"></div>
                  <%= link_to pending.username, conversations_path(sender_id: current_user.id, recipient_id: pending.id), method: 'post', :class => "contact-list-name", remote: true %>
                </div>
                <div class="status-text">Offline</div>
              <% end %>
            </div>
            
          </div>
          
        <% end %>
      </div>
    </div>
  
  </div>

  <div class="col-md-6" id="chat">
    <% if @conversation %>
      <%= render '/messages/chat' %>
    <% else %>
      <div class="pre-chat center-text">Pick a friend and start chatting!</div>
    <% end %>
  </div>

  <% if @conversation %>
    <% if !(current_user.pending_friends.include? @other_user) %>
      <div class="col-md-3 chat-sidebar">
        <div class="item">
          <% if @other_user.online? && !@other_user.appear_offline %>
            <div class="horizontal-align">
              <div class="online-status-indicator" style="display: inline-block;"></div>
              <%= link_to @other_user.username, profile_path(@other_user.id), :class => "contact-list-name" %>
            </div>
            <div class="status-text">Online</div>
          <% else %>
            <div class="horizontal-align">
              <div class="offline-status-indicator" style="display: inline-block;"></div>
              <%= link_to @other_user.username, profile_path(@other_user.id), :class => "contact-list-name" %>
            </div>
            <div class="status-text">Offline</div>
          <% end %>
        </div>        

        <div class="char-title">Mental Health</div>
        <% @mental_health.each do |mh| %>
          <div><%= mh.name %></div>
        <% end %>

        <div class="char-title">Age: <%= @age %></div>

        <div class="char-title">Gender</div>
        <% @gender.each do |g| %>
          <div><%= g.name %></div>
        <% end %>

        <div class="char-title">Ethnicity</div>
        <% @ethnicity.each do |e| %>
          <div><%= e.name %></div>
        <% end %>

        <div class="char-title">Academic Focus</div>
        <% @academic_focus.each do |af| %>
          <div><%= af.name %></div>
        <% end %>

        <div class="download-link"><%= link_to 'Download this chat', download_chat_conversation_path(@conversation)%></div>

      </div>
    <% end %>
  <% end %>

</div>
