<div class="row">
  <div class="ui segment col-md-3">
    <h3>Friends</h3>
    <div class="ui list">
      <% current_user.friends.each do |friend| %>
        <div class="item horizontal-align <%= "active-conversation" if @conversation.same_convo?(current_user.id, friend.id) %>">
          <div class="item">
            <% if friend.online? && !friend.appear_offline %>
             <%= render 'chat_name', status: "online", user: friend %>
            <% else %>
              <%= render 'chat_name', status: "offline", user: friend %>
            <% end %>
          </div>
  
          <div class="links-container horizontal-align">
            <%= link_to "Remove", friendship_path(:id => friend), :method => :delete, :class => "friend-link" %>
          </div>
        </div>
      <% end %>
    </div>
    
   <div class="ui list">
      <h5>Friend Requests</h5>
      <div class="item">
        <% current_user.requested_friendships.each do |request| %>
          
          <div class="item horizontal-align">
            <div class="item">
              <% if request.online? %>
                <%= render 'contact_name', status: "online", user: request %>
              <% else %>
                <%= render 'contact_name', status: "offline", user: request %>
              <% end %>
            </div>
            
            <div class="links-container horizontal-align">
              <%= link_to "Accept", friendship_path(:id => request), :method => "put", :class => "friend-link" %> 
              <%= link_to "Decline", friendship_path(:id => request), :method => :delete, :class => "friend-link" %>
            </div>
          </div>
          
        <% end %>
      </div>
    </div>
    
    <div class="ui list">
      <h5>Pending Requests</h5>
      <div class="item">
        <% current_user.pending_friends.each do |pending| %>
          
          <div class="item horizontal-align">
            <div class="item">
              <% if pending.online? %>
                <%= render 'contact_name', status: "online", user: pending %>
              <% else %>
                <%= render 'contact_name', status: "offline", user: pending %>
              <% end %>
            </div>
            
          </div>
          
        <% end %>
      </div>
    </div>
  
  </div>

  <div class="col-md-6" id="chat">
    <% if @conversation %>
      <% puts "convo1:" %>
      <% puts @conversation %>
      <%= render '/messages/chat' %>
    <% else %>
      <div class="pre-chat center-text">Pick a friend and start chatting!</div>
    <% end %>
  </div>
  <% puts "convo2:" %>
  <% puts @conversation.sender_id %>
  <% puts @conversation.recipient_id %>
  <%= render '/messages/chat_sidebar', conversation: @conversation %>
</div>
