<div class="row">
  <div class="ui segment col-md-3" style="border-right-width: 1px">
    <h3>Friends</h3>
    <div class="friend-tabs">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#all-friends" data-toggle="tab">All</a>
        </li>
        <li><a href="#online-friends" data-toggle="tab">Online</a></li>
        <li><a href="#pending-friends" data-toggle="tab">Pending</a></li>
        <li><a href="#friend-requests" data-toggle="tab">Requests</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="all-friends">
          <div class="ui list">
            <% @friends.each do |friend| %>
              <div class="chat-item horizontal-align <%= "active-conversation" if @conversation && @conversation.same_convo?(current_user.id, friend.id) %>">
                <div class="chat-item">
                  <% if friend.online? && !friend.appear_offline %>
                   <%= render 'chat_name', status: "online", user: friend %>
                  <% else %>
                    <%= render 'chat_name', status: "offline", user: friend %>
                  <% end %>
                </div>
        
                <div class="links-container horizontal-align">
                  <%= link_to "Remove", friendship_path(:id => friend), :method => :delete, :class => "friend-link" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="online-friends">
          <div class="ui list">
            <% @friends.each do |friend| %>
              <div class="chat-item horizontal-align <%= "active-conversation" if @conversation && @conversation.same_convo?(current_user.id, friend.id) %>">
                <% if friend.online? && !friend.appear_offline %>
                  <div class="chat-item">
                    <%= render 'chat_name', status: "online", user: friend %>
                  </div>
                  <div class="links-container horizontal-align">
                    <%= link_to "Remove", friendship_path(:id => friend), :method => :delete, :class => "friend-link" %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="tab-pane" id="pending-friends">
          <div class="ui list">
            <div class="chat-item">
              <% current_user.pending_friends.each do |pending| %>
                
                <div class="chat-item horizontal-align">
                  <div class="chat-item">
                    <% if pending.online? %>
                      <%= render 'contact_name', status: "online", user: pending %>
                    <% else %>
                      <%= render 'contact_name', status: "offline", user: pending %>
                    <% end %>
                  </div>
                  
                </div>
                
              <% end %>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="friend-requests">
          <div class="ui list">
            <div class="chat-item">
              <% current_user.requested_friendships.each do |request| %>
                
                <div class="chat-item horizontal-align">
                  <div class="chat-item">
                    <% if request.online? %>
                      <%= render 'contact_name', status: "online", user: request %>
                    <% else %>
                      <%= render 'contact_name', status: "offline", user: request %>
                    <% end %>
                  </div>
                  
                  <div class="links-container horizontal-align">
                    <%= link_to "Accept", friendship_path(:id => request), :method => "put", :class => "friend-link" %> 
                    <%= link_to "Decline", friendship_path(:id => request), :method => :delete, :class => "friend-link" %>
                  </div>
                </div>
                
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>

  <div class="col-md-6" id="chat">
    <% if @conversation %>
      <% puts "convo1:" %>
      <% puts @conversation %>
      <%= render '/messages/chat' %>
    <% else %>
      <div class="pre-chat center-text">Pick a friend and start chatting!</div>
    <% end %>
  </div>
  <% puts "convo2:" %>
  <% puts @conversation.sender_id if @conversation %>
  <% puts @conversation.recipient_id if @conversation %>
  <%= render '/messages/chat_sidebar', conversation: @conversation %>
</div>


<div id="dialog-confirm" title="Chat Liability">
  <p>By clicking <em>I agree,</em> you agree to the following:</p>
  <ul>
    <li>I am not homicidal or suicidal. (If you are we strongly urge you to speak to one of our licensed therapists. Must be 18 or older)</li>
    <li>I understand that no action can be taken toward any claims made during a chat as all users are anonymous.</li>
    <li>I am at least 13 years or older and have a parents permission to use this site.</li>
    <li>I understand that the chat is intended for casual venting and not for mental illness diagnosing or psychological therapy.</li>
    <li>I understand that as a listener I am not to perform the role of a real therapist and will refer any user to seek appropriate help from a therapist if the case permits it.</li>
  </ul>
</div>