<div id="info-slides" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#info-slides" data-slide-to="0" class="active"></li>
    <li data-target="#info-slides" data-slide-to="1"></li>
    <li data-target="#info-slides" data-slide-to="2"></li>
    <li data-target="#info-slides" data-slide-to="3"></li>
    <li data-target="#info-slides" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" id="slide1">
    	<img src="<%= asset_path( 'pp-image.jpg' ) %>">
	    <div id="intro-caption" class="carousel-caption">
	      <h1 id="intro-header">SafeSpace</h1>
	    </div>
    </div>
    <div class="item" id="slide2">
        <img>
        <div class="carousel-caption">
        	<%= RedCloth.new(@content.slide_one).to_html.html_safe %>
        </div>
    </div>
    <div class="item" id="slide3">
    	<img>
        <div class="carousel-caption">
        	<%= RedCloth.new(@content.slide_two).to_html.html_safe %>
        </div>
    </div>
    <div class="item" id="slide4">
    	<img>
        <div class="carousel-caption">
            <%= RedCloth.new(@content.slide_three).to_html.html_safe %>
        </div>
    </div>
    <div class="item" id="slide5">
    	<img>
        <div class="carousel-caption">
        	<%= RedCloth.new(@content.slide_four).to_html.html_safe %>

            <%= link_to intro_quiz_path, id: 'ready-btn', class: 'btn btn-success btn-lg' do %>
                <ul>
                    <li><span><%= icon('check', class: 'fa-lg') %></span></li>
                    <li><span>Ready!</span></li>
                </ul>
            <% end %>
        </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#info-slides" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#info-slides" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>