<div id="info-slides" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="false">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#info-slides" data-slide-to="0" class="active"></li>
    <li data-target="#info-slides" data-slide-to="1"></li>
    <li data-target="#info-slides" data-slide-to="2"></li>
    <li data-target="#info-slides" data-slide-to="3"></li>
    <!-- <li data-target="#info-slides" data-slide-to="4"></li> -->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <!-- <div class="item active" id="slide1"> -->
    	<!-- <img src="<%= asset_path( 'pp-image.jpg' ) %>"> -->
	    <!-- <div id="intro-caption" class="carousel-caption"> -->
	      <!-- <h1 id="intro-header">SafeSpace</h1> -->
	    <!-- </div> -->
    <!-- </div> -->
    <div class="item active" id="slide2">
        <img>
        <div class="carousel-caption">
        	<%= @content.as_html("slide_one") %>
        </div>
    </div>
    <div class="item" id="slide3">
    	<img>
        <div class="carousel-caption">
        	<%= @content.as_html("slide_two") %>
        </div>
    </div>
    <div class="item" id="slide4">
    	<img>
        <div class="carousel-caption">
          <%= @content.as_html("slide_three") %>
        </div>
    </div>
    <div class="item" id="slide5">
    	<img>
        <div class="carousel-caption">
        	<%= @content.as_html("slide_four") %>

            <%= link_to intro_quiz_path, class: 'copy-button btn btn-success btn-lg' do %>
              <span>Got it!</span>
            <% end %>
        </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#info-slides" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#info-slides" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>