<%= simple_form_for @resource do |f| %>
	<% if button_name == 'Create Resource' %>
		<h3>Creating New Resource</h3>
	<% else %>
		<h3>Editing Resource</h3>
	<% end %>
	<%= f.input :name %>
	<%= f.input :description %>
	<%= f.input :url %>
	<%= f.button :submit, button_name, class: 'btn btn-success' %>
	<%= link_to "Cancel", 'javascript:;', class: 'btn btn-default', id: 'cancel-btn' %>
<% end %>