<div class="text-container">
	<h2>Resources List</h2>
	<% if user_signed_in? && current_user.peer_counselor %>
		<%= link_to "Add Resource", new_resource_path, id: "new_link", remote: true %>
	<% end %>
	<div class="resources">
		<% @resources.each do |r| %>
			<div class="resource" id="resource_<%= r.id %>">
				<div class="resource-item">
					<h3>
						<%= link_to r.name, url_with_protocol(r.url), :target => '_blank' %>
						<% if user_signed_in? && current_user.peer_counselor %>
							<div class="resource-links">
								<div class="resource-edit-link">
									<%= link_to_icon " Edit", edit_resource_path(r.id), "pencil" %>
								</div>
								<div class="resource-remove-link">
									|
									<%= link_to "Remove", r, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>	
								</div>
							</div>
						<% end %>
					</h3>
					<p><%= r.description %></p>
	
				</div>
			</div>
		<% end %>
	</div>
</div>

