<div class="text-container">
	<h2>Resources</h2>
	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Select
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			<% @resources.each do |resource| %>
	    	<li><%= link_to resource.name, resources_path(anchor: 'resource_' + resource.id.to_s) %></li>
			<% end %>
	  </ul>
	</div>
	<% if user_signed_in? && (current_user.peer_counselor || current_user.showcase || current_user.username == "User1")  %>
		<%= link_to "Add Resource", new_resource_path, id: "new_link", remote: true %>
	<% end %>
	<div class="resources <%= 'resources-sortable' if user_signed_in? && current_user.peer_counselor %>"
		 data-update-url="<%= sort_resources_url %>">
		<%= render @resources %>
	</div>
</div>
