<fieldset class="search-field">
  <%= search_form_for @search, remote: true, url: search_profiles_path, html: { method: :post } do |f| %>
    <div class="filter-button">
      <%= link_to "Default", "#", id: "default-search", class: "btn btn-default" %>
      <%= button_tag "Clear", type: :reset, class: 'btn btn-default' %>
      <%= f.submit "Save Filters", id: 'save-filters', class: 'btn btn-primary' %>
    </div>
    <br>

    <p class="preference-instructions">Remember, if you have no preference, then just leave the question blank! This way, you’re matched with all types of people.</p>

    <div class="search-scroll custom-scroll">

        <%= render '/profiles/search_partials/char_section', name: "Mental Health", category: "mental_health", f: f %>
    
        <div class="char-section">
          <h5 class="button-header">
            <strong>Age range: <input type="text" id="age-range" readonly style="border:0; font-weight:bold;"></strong>
          </h5><br><br>
          <div id="slider-range"></div>
        </div>
    
        <%= render '/profiles/search_partials/char_section', name: "Gender", category: "gender", f: f %>
        <%= render '/profiles/search_partials/char_section', name: "Ethnicity", category: "ethnicity", f: f %>
        <%= render '/profiles/search_partials/char_section', name: "Academic Focus", category: "academic_focus", f: f %>
        <%= render '/profiles/search_partials/char_section', name: "Sexual Orientation", category: "sexual_orientation", f: f %>
        <%= render '/profiles/search_partials/char_section', name: "Religion", category: "religion", f: f %>
        <%= render '/profiles/search_partials/char_section', name: "Class Rank", category: "class_rank", f: f %>
        <%= render '/profiles/search_partials/char_section', name: "Socioeconomic Status", category: "socioeconomic_status", f: f %>
        <%= render '/profiles/search_partials/char_section', name: "Living Situation", category: "living_situation", f: f %>
        <%= render '/profiles/search_partials/basic_info_section', f: f %>

        <div class="hidden-search-field">
          <%= f.sort_fields do |s| %>
            <%= s.sort_select %>
          <% end %>
          <%= f.check_box :online_or_all_profiles %>
          <%= f.check_box :user_peer_counselor_true %>
          <%= f.search_field :age_gteq %>
          <%= f.search_field :age_lteq %>
        </div>

      </div>
  <% end %>
</fieldset>
