<div class="results-container">
  <br>
  <% if @online_only %>
    <p class="status-text all-online"><a href="#" id="toggle-online-profiles">All</a> | Online</p>
  <% else %>
    <p class="status-text all-online">All | <a href="#" id="toggle-online-profiles">Online</a></p>
  <% end %>

  <!-- <div id="sort-dropdown" class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by..
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% if current_user.peer_counselor %>
        <li><a href="#" id="recommend-sort">Most Demand</a></li>
      <% else %>
        <li><a href="#" id="age-sort">Age</a></li>
        <li><a href="#" id="name-sort">Name</a></li>
      <% end %>
    </ul>
  </div> -->
  <hr>
  <div class="result-names results-scroll custom-scroll">
    <% @profiles.each do |profile| %>
      <% @profile_user = profile.user %>
      <div class="row profile-item horizontal-align profile-result">
        
        <div class="profile-item col-md-9">
            <div class="horizontal-align">
              <div class="<%= profile.online_status_css %>-status-indicator" style="display: inline-block;"></div>
              <% if @profile_user.peer_counselor %>
                Peer Counselor
              <% else %>
                <%= link_to @profile_user.username, profile, class: "contact-list-name", remote: true %>
              <% end %>
            </div>
            <% if !@profile_user.peer_counselor %>
              <div class="status-text">Age: <%= profile.age %></div>
            <% end %>
        </div>
        
        <div class="col-md-3 links-container horizontal-align">
          <% if @profile_user.peer_counselor %>
            <%= link_to "Start a Chat", "#", class: "btn btn-success start-conversation",
                "data-sid" => current_user.id, "data-rip" => @profile_user.id %>
          <% elsif current_user.requested_friendships.include? @profile_user %>
            <%= link_to friendship_path(:id => @profile_user), :method => :delete, :class => "friend-link" do %>
              <i class="fa fa-times fa-2x icon-cog" aria-hidden="true"></i>
            <% end %>
          <% elsif current_user.pending_friends.include? @profile_user %>
            <div class="friend-link" id="friend-info">pending request</div>
          
          <% elsif !current_user.friends.include? @profile_user %>
            <%= link_to friendships_path(:friend_id => @profile_user), :method => :post, :class => "friend-link", remote: true do %>
              <i class="fa fa-plus fa-2x icon-cog" aria-hidden="true"></i>
            <% end %>
          <% else %>
            <i class="fa fa-check fa-2x icon-cog friend-link" aria-hidden="true"></i>
          <% end %>
        </div>
          
      </div>
    <% end %>
  </div>
  
  <%= will_paginate @profiles, previous_label: "<", next_label: ">" %>
</div>

