<div>
	<h3>Terms of Service</h3>
</div>

<div class="container" style="text-align: center">
	<%= RedCloth.new(@content.terms_of_service).to_html.html_safe %>
</div>

<%= form_for(TermsOfService.new) do |f| %>
	<%= f.check_box :terms_of_service %>
	<%= f.label :terms_of_service, "I have read and agree to the SafeSpace user/member terms and conditions" %>
	<div class="submit-button"><%= f.submit "Submit", class: "btn btn-success" %></div>
<% end %>
